
body {
    background-color: rgb(176, 184, 210);
    margin: 10%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
    font-size: 9vh;
}
#image{
    display:block;
    max-width:100%;
    height: auto;
    border-radius: 10px;
    box-shadow:5px 5px 10px #222049;
    margin-top: 30px; border-radius: 10px;
}



h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    background-color: rgb(220, 240, 248);
    color:rgb(255, 0, 0);
}
h2{
   
    color: rgb(220, 240, 248);
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div#tribute-data {
    background-color: rgb(131, 143, 194);
    box-shadow: 20px 20px 20px #989afb;
    font-family:'Times New Roman', Times, serif
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    height: 1000px;
}

#tribute-link {
    text-decoration: none;
    color: rgb(181, 18, 18);
}